* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --background-color: #2F303A;
    --second-color: #757575;
    --section-color: #F5F4FA;
    --logo-color: #ffffff99;
    --main-background-color: #212121;
    --team-last-color: #000000;
    --main-text-color: #FFF;
    /* fonts */
    --logo-name-fonts: "Raleway", sans-serif;
    --main-fonts: "Roboto", sans-serif;
}

/* ------------------------------------------------------------header-------------------------------------------------------------------- */
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 15px;
    /* outline: 2px solid red; */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.nav-bar {
    justify-content: space-between;
}

.header-span {
    color: var(--accent-color);
}

.header-logo {
    color: var(--team-last-color);
    font-family: var(--logo-name-fonts);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

}

.header-list {
    list-style: none;
    padding-left: 453px;
    padding-right: 866px;
    font-size: 14px;
    margin-top: -25px;
    margin-left: -155px;
    gap: 50px;
    justify-content: flex-start;
    display: flex;
}

.header-info {
    justify-content: flex-end;
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: -27px;
    margin-left: -100%;
    padding: 0px;
}

.nav-mail {
    color: var(--accent-color);
    font-family: var(--main-fonts);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-telephone {
    color: var(--second-color);
    font-family: var(--main-fonts);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-link {
    color: var(--main-background-color);
    font-family: var(--main-fonts);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
}


.active {
    color: var(--accent-color);
    font-family: var(--main-fonts);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    line-height: 136%;
}

/*-------------------------------------- header-------------------------- */
/* --------------------------------------main---------------------------- */
.nav_button {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
    gap: 8px;
}



.paragraph-btn {
    color: var(--main-background-color);
    text-align: center;
    font-family: var(--main-fonts);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
}

.paragraph-btn:hover {
    color: var(--main-text-color);
    scale: 105%;
}

.btn_section_1:hover {
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    transform: 0.5s;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.section_1_h3 {
    color: var(--main-background-color);
    font-family: var(--main-fonts);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 6%;
}

.section_1_pragraph {
    color: var(--second-color);
    font-family: var(--main-fonts);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3%;
}

.btn_section_1 {
    width: 125px;
    height: 38px;
    border: none;
    border-radius: 4px;
}

.section_1_list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.section_1_item {
    padding-bottom: 30px;
    gap: 30px;
}

.wrapper_item {
    margin-left: 24px;
}
/*----------------------------------------------- footer -----------------------------------------------*/
.footer{
    background-color: var(--background-color);
    width: 1600px;
    height: 252px;
}
.header-span {
    color: var(--accent-color);
}