.header-link{
    text-decoration: none;
}
.header-info{
    text-decoration: none;
}
.mail{
    text-decoration: none;
}
.telephone{
    text-decoration: none;
}
.info-header{
    list-style: none;
}
.mail-header{
    list-style: none;
}
.main-telephone{
    list-style: none;
}
