* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------------------header-------------------------------------------------------------------- */
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 15px;
    /* outline: 2px solid red; */
}